.icon-accept {
    background-image: url(accept.png) !important
}

.icon-home {
    background-image: url(home.png) !important
}


.icon-information {
    background-image: url(information.png) !important
}

.icon-user_key {
    background-image: url(user_key.png) !important
}

.icon-delete {
    background-image: url(delete.png) !important
}


.icon-vcard_key {
    background-image: url(vcard_key.png) !important
}

.icon-key {
    background-image: url(key.png) !important
}


.icon-user {
    background-image: url(user.png) !important
}

.icon-shutdown {
    background-image: url(shutdown.png) !important
}




