{"HOSTIP":{"NETMASK":"255.255.255.0","GATEWAY":"172.18.1.1","IP":"172.18.1.133"},"HEART":{"INTERVAL":"4","SESSIONID":"undefined","URL":"2.2.2.2"},"CALLCENTER":{"PORT":"5060","SESSIONID":"undefined","IP":"172.25.16.30"},"TAPESERVER":{"SPAREPORT":"80933","SPAREIP":"2.2.2.5","MAINIP":"39.105.109.64","MAINPORT":"8099"},"PASSWORD":{"PASSWORD":"dd26804bf286781409d75a74bdc493c9","SESSIONID":"undefined"}}
